<div class="outer_wrapper">
<% if session[:coords] %>
	<div class='contents'>
	You are right now in: 
	(<%= session[:coords]['latitude'].to_s + ', ' + session[:coords]['longitude'].to_s %>)
	</div>
<% end %>
</div>