<div class="outer_wrapper">
	<div class="header">what is going on?</div>
	<div class="contents"><%= TamHandler.received_sms %></div>
	<div class="footer">
		Send us an SMS to <strong>0505050</strong> <br/> 
		Your message will appear here
	</div>
</div>